<div class="container">
  <stumpy-navigation></stumpy-navigation>
  <div class="row justify-content-center">
    <div class="col-3">
      <article>
        <div>
          <stumpy-item [itemId]="ItemKey.BowAndArrows"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Boomerangs"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Hookshot"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Bomb"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Mushroom"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Powder"></stumpy-item>
        </div>
        <div>
          <stumpy-item [itemId]="ItemKey.FireRod"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.IceRod"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Bombos"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Ether"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Quake"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Magic"></stumpy-item>
        </div>
        <div>
          <stumpy-item [itemId]="ItemKey.Lantern"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Hammer"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Flute"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Net"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Book"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Tunic"></stumpy-item>
        </div>
        <div>
          <stumpy-item [itemId]="ItemKey.Bottle"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Somaria"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Byrna"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Cape"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Mirror"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Shield"></stumpy-item>
        </div>
        <div>
          <stumpy-item [itemId]="ItemKey.Shovel"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Boots"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Glove"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Flippers"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.MoonPearl"></stumpy-item>
          <stumpy-item [itemId]="ItemKey.Sword"></stumpy-item>
        </div>
      </article>
    </div>
    <div class="col-7">
      <stumpy-dungeons></stumpy-dungeons>
    </div>
  </div>
  <stumpy-map></stumpy-map>
</div>
